@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
body {
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
}
.box {
  width: 440px;
  background-color: white;
  padding: 10px 40px;
  margin: 120px auto 40px auto;
  border-radius: 10px;
}
p {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  display: none;
  font-weight: 400;
}
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
h4:hover {
  color: hsl(292, 96%, 33%);
}
h4 > img {
  float: right;
  vertical-align: middle;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
h1 > img {
  float: left;
  vertical-align: middle;
  margin-right: 20px;
}
.attribution {
  text-align: center;
}
span {
  display: block;
  margin-bottom: 16px;
}
a {
  text-decoration: none;
  color: hsl(293, 98%, 35%);
}
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }
  .box {
    width: 90%;
    padding: 10px 26px;
  }
}
